@model PatientAppointmentViewModel
@{
    List<DayOfWeek> scheduleDays = new List<DayOfWeek>();
    foreach (var schedule in Model.Doctor.Schedules)
    {
        scheduleDays.Add(schedule.DayOfWeek);
    }
    List<DateTime> appointmentDays = new List<DateTime>();
    foreach (var appointment in Model.Doctor.Appointments)
    {
        appointmentDays.Add(appointment.DateTime);
    }


    DateTime day = DateTime.Today.AddDays(1);
    DateTime endDate = day.AddDays(14);

    TimeSpan startTime = @Model.Doctor.Schedules[0].StartTime;
    TimeSpan endTime = @Model.Doctor.Schedules[0].EndTime;
    TimeSpan slotDuration = @Model.Doctor.Schedules[0].Interval;

    //Launch

    TimeSpan LStart = new TimeSpan(12, 0, 0);
    TimeSpan LEnd = new TimeSpan(13, 0, 0);

    int counter = 1;

    for (DateTime date = day; date <= endDate; date = date.AddDays(1))
    {
        if(scheduleDays.Contains(date.DayOfWeek))
        {
            <div class="card mt-3 p-0">
                <div class="card-header d-flex align-items-center justify-content-center" data-bs-toggle="collapse" href="#Collapse@(counter.ToString())" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                    <span>
                        @date.ToShortDateString() - @date.DayOfWeek.ToString()
                    </span>    
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-caret-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 10l6 6l6 -6h-12" /></svg>
                </div>
                <div class="collapse multi-collapse p-2" id="Collapse@(counter.ToString())">
                    @for (TimeSpan currentTime = startTime; currentTime <= endTime; currentTime = currentTime.Add(slotDuration))
                    {
                        if (!(currentTime >= LStart && currentTime <= LEnd) && !(appointmentDays.Contains(date.AddHours(currentTime.TotalHours))))
                        {
                            <button value="@date.ToShortDateString()" onclick="setdate(this)" type="button" class="set btn btn-primary m-1" data-toggle="modal" data-target="#exampleModalCenter">@currentTime.ToString("hh\\:mm")</button>

                        }
                        else if (!(currentTime >= LStart && currentTime <= LEnd))
                        {
                            <button type="button" class="btn btn-outline-primary m-1" disabled>@currentTime.ToString("hh\\:mm")</button>

                        }
                    }
                </div>
            </div>
            counter++;
        }   
    }
}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Do you want to create the appointment?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <form method="post" asp-controller="Patient" asp-action="Appointment">
            <div class="modal-body">
                    <input type="hidden" class="form-control" placeholder="Patient Name" name="patientId" value="@Model.Patient.PatientId">
                    <input type="hidden" class="form-control" placeholder="Patient Name" name="doctorId" value="@Model.Doctor.DoctorId">
                    <input id="date" type="hidden" class="form-control" placeholder="Patient Name" name="date">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Make An Appointment</button>
            </div>
            <div class="modal-footer">
                
            </div>
                </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function setdate(button) {
        document.getElementById("date").value = button.value+ " " + button.innerHTML;
    }
</script>