@model List<Doctor>

<div class="my-1 mx-1 mb-5">
    <div class="d-flex justify-content-between align-items-center">
        <h3>Doctors</h3>
        <div class="d-flex align-items-center">
            <div class="me-3">
                <p class="mb-1">Today's Date</p>
                <p style="font-weight: bold;font-size: 18px; margin: 0;">26/03/2024</p>
            </div>
            <div class="p-2" style="background-color: #e1e1e1;border-radius: 5px;">
                <span class="material-symbols-outlined" style="font-size: 35px;">
                    calendar_month
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row mx-1 mb-3"><h1>Doctors</h1><hr></div>
<div class="d-flex mx-1 ">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var doctor in @Model)
        {
            <div class="col">
                <div class="card mb-3 me-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                            <span class="material-symbols-outlined" style="font-size: 110px;">
                                account_box
                            </span>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@doctor.FullName</h5>
                                <p class="card-text">@doctor.Specialization</p>
                                <p class="card-text">@doctor.Bio</p>
                                <div class="d-flex justify-content-end">
                                    <a asp-controller="Patient" asp-action="Details" asp-route-id="@doctor.DoctorId" class="btn btn-primary m-1">Details</a>
                                    <a asp-controller="Patient" asp-action="Appointment" asp-route-id="@doctor.DoctorId" class="btn btn-primary m-1">Make an Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>