@model List<Doctor>

@foreach(var doctor in Model)
{
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="/images/doctors/@doctor.Picture" class="img-thumbnail rounded-start">
            </div>
            <div class="col-md-9">
                <div class="card-body position-relative h-100">
                    <h5 class="card-title">@doctor.FullName</h5>
                    <p class="card-text"><small class="text-body-secondary">@doctor.Specialization</small></p>
                    <p class="card-text">@doctor.Bio</p>
                    <div class="position-absolute" style="bottom: 10px; right: 10px;">
                        <a asp-controller="Patient" asp-action="Details" asp-route-id="@doctor.DoctorId" class="btn btn-primary m-1">Details</a>
                        <a asp-controller="Patient" asp-action="Appointment" asp-route-id="@doctor.DoctorId" class="btn btn-primary m-1">Make an Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
