@model Appointment
@{
    Layout = "_DoctorLayout";
}

<div class="card">
    <div class="card-body">
        <h1 style="font-size:28px" class="card-title fw-semibold mb-4">Appointment Details</h1>
        <p class="mb-1"><b>Date:</b>@Model.DateTime.ToString()</p>
        <p class="mb-1"><b>Doctor:</b>@Model.Doctor.FullName</p>
        @if (Model.IsApproved)
        {
            <p class="text-success fw-larger"> Approved</p>
        }
        else
        {
            <p class="text-danger"> Not Approved</p>
        }
        <hr />
        <br/>
        <h4 class="mb-2">Patient Details:</h4>
        <p class="mb-1"><b>Patient Name:</b>@Model.Patient.FullName</p>
        <p class="mb-1"><b>Patient Email:</b>@Model.Patient.Email</p>
        <p class="mb-1"><b>Patient Phone:</b>@Model.Patient.Phone</p>
        <p class="mb-1"><b>Patient Age:</b>@Model.Patient.Age</p>
        <br />
        <h4>Note:</h4>
        <form method="post" asp-controller="Doctor" asp-action="AppointmentDetails">
            <input type="hidden" name="id" value="@Model.AppointmentId" />
            <textarea name="note" style="width:100%;min-height:200px;">@Model.Note</textarea>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        
    </div>
</div>


