@model List<Appointment>
@{
    Layout = "_DoctorLayout";
}

@* <div id="alertMessage" class="alert alert-warning alert-dismissible fade" role="alert">
    dawdjklşawdlpjwıdklşawda
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
 *@

<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Upcoming Appointments</h5>
        <div class="homepage-bookings">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Patient</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Age</th>
                        <th scope="col">Scheduled Date & Time</th>
                        <th scope="col">Approval Status</th>
                        <th scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var appointment in Model)
                    {
                        if (appointment.DateTime < DateTime.Now)
                        {
                            <tr>
                            <th scope="row">@appointment.AppointmentId</th>
                            <td>@appointment.Patient.FullName</td>
                            <td>@appointment.Patient.Phone</td>
                            <td>@appointment.Patient.Age</td>
                            <td>@appointment.DateTime.ToLongDateString()-@appointment.DateTime.ToShortTimeString()</td>
                            @if (appointment.IsApproved)
                            {
                                <td class="text-success"> Approved</td>
                            }
                            else
                            {
                                <td class="text-danger"> Not Approved</td>
                            }
                            @if (appointment.IsApproved)
                            {
                                <td>
                                    <form action="/Doctor/UpdateStatus" method="post" style="display:inline;">
                                        <input type="hidden" name="AppointmentId" value="@appointment.AppointmentId" />
                                        <button type="submit" class="btn btn-danger btn-sm">Cancel Appointment</button>
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <form action="/Doctor/UpdateStatus" method="post" style="display:inline;">
                                        <input type="hidden" name="AppointmentId" value="@appointment.AppointmentId" />
                                        <button type="submit" class="btn btn-success btn-sm">Confirm Appointment</button>
                                    </form>
                                </td>
                            }

                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

