@model Doctor
@{
    Layout = "_DoctorLayout";
}

<div style="background-color:var(--bs-info-bg-subtle)" class="card">
    <div class="card-body">
        <h5 class="mb-3">Welcome!</h5>
        <h3 class="mb-3">@Model.FullName</h3>
        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere mollitia fuga iste praesentium alias optio, sapiente minus magni quos doloremque laboriosam voluptatem molestiae dicta commodi aspernatur quo dolorum saepe at!</p>
        <form class="form-inline home-searchbar d-flex w-50">
            <input style="background-color: white;" class="form-control mr-sm-2 me-2" type="search" placeholder="Search Doctor" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 d-flex align-items-stretch">
        <div class="card w-100 alert alert-secondary">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Today's Bookings</h5>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0 align-middle table-hover table-striped">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">#</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Patient</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Phone</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Email</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Age</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Scheduled Date & Time</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Approval Status</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var appointment in Model.Appointments)
                            {
                                if (appointment.DateTime == DateTime.Now)
                                {
                                    <tr>
                                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0">@appointment.AppointmentId</h6></td>
                                        <td class="border-bottom-0">
                                            <a class="d-flex align-items-center" asp-controller="Doctor" asp-action="PatientProfile" asp-route-id="@appointment.Patient.PatientId">
                                                <h6 class="fw-semibold mb-1 mx-2">@appointment.Patient.FullName</h6>
                                                <button style="padding:4px" class="btn btn-outline-secondary btn-sm">></button>
                                            </a>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-1">@appointment.Patient.Phone</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-1">@appointment.Patient.Email</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-1">@appointment.Patient.Age</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">@appointment.DateTime.ToLongDateString()-@appointment.DateTime.ToShortTimeString()</p>
                                        </td>
                                        <td class="border-bottom-0">
                                            @if (appointment.IsApproved == State.Approved)
                                            {
                                                <span class="badge bg-success rounded-3 fw-semibold">Approved</span>
                                            }
                                            else if (appointment.IsApproved == State.NotApproved)
                                            {
                                                <span class="badge bg-danger rounded-3 fw-semibold">Not Approved</span>
                                            }
                                            else if (appointment.IsApproved == State.Waiting)
                                            {
                                                <span class="badge bg-warning rounded-3 fw-semibold">Waiting</span>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-secondary btn-sm" asp-controller="Doctor" asp-action="AppointmentDetails" asp-route-id="@appointment.AppointmentId">Details</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 d-flex align-items-stretch">
        <div style="margin-bottom:0px;" class="card w-100 alert alert-secondary">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Your Upcoming Bookings</h5>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0 align-middle table-hover table-striped">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">#</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Patient</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Phone</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Email</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Age</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Scheduled Date & Time</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Approval Status</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var appointment in Model.Appointments)
                            {
                                if (appointment.DateTime >= DateTime.Now)
                                {
                                    <tr>
                                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0">@appointment.AppointmentId</h6></td>
                                        <td class="border-bottom-0">
                                            <a class="d-flex align-items-center" asp-controller="Doctor" asp-action="PatientProfile" asp-route-id="@appointment.Patient.PatientId">
                                                <h6 class="fw-semibold mb-1 mx-2">@appointment.Patient.FullName</h6>
                                                <button style="padding:4px" class="btn btn-outline-secondary btn-sm">></button>
                                            </a>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-1">@appointment.Patient.Phone</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-1">@appointment.Patient.Email</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-1">@appointment.Patient.Age</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <p class="mb-0 fw-normal">@appointment.DateTime.ToLongDateString()-@appointment.DateTime.ToShortTimeString()</p>
                                        </td>
                                        <td class="border-bottom-0">
                                            @if (appointment.IsApproved == State.Approved)
                                            {
                                                <span class="badge bg-success rounded-3 fw-semibold">Approved</span>
                                            }
                                            else if (appointment.IsApproved == State.NotApproved)
                                            {
                                                <span class="badge bg-danger rounded-3 fw-semibold">Not Approved</span>
                                            }
                                            else if (appointment.IsApproved == State.Waiting)
                                            {
                                                <span class="badge bg-warning rounded-3 fw-semibold">Waiting</span>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-secondary btn-sm" asp-controller="Doctor" asp-action="AppointmentDetails" asp-route-id="@appointment.AppointmentId">Details</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" style="padding: 0px 12px">
        <a asp-controller="Doctor" asp-action="AppointmentList" class="btn btn-primary w-100">Show All Appointments</a>
    </div>

</div>
